<% include partials/head %>

  <div class="container">
    <h3>Hours</h3>
    <table class="responsive-table striped centered">
      <thead>
        <tr>
          <th>Date</th>
          <% for (var i in employeeArray) { %>
            <th><%= employeeArray[i].name %></th>
          <% } %>
        </tr>
      </thead>
      <tbody>
        <% for (var i in hourArray) { %>
          <tr style="border-right: 1px solid black; padding: 0;">
            <td style="border-bottom: 1px solid black;"><b><%= i %></b></td>
            <% for (var e in employeeArray) { %>
              <% if (hourArray[i][employeeArray[e].name]) { %>
                <td style="border-bottom: 1px solid black;"><%= hourArray[i][employeeArray[e].name].hours %></td>
              <% } else { %>
                <td style="border-bottom: 1px solid black;"></td>
              <% } %>
            <% } %>
          </tr>
        <% } %>
      </tbody>
    </table>
  </div>

<% include partials/foot %>