<% include partials/head %>

<% if (array) { %>
  <ul class="collection">
    <% for (var result in array) {%>
      <li class="collection-item">
      <% id = array[result]._id %>
      <a class="jobsite-delete secondary-content" onClick="if(confirm('Are you sure?')) {deleteRequest('<%= id %>')}" href=""><i class="material-icons">delete</i></a>
        <%= array[result].name %>
        <p><%= array[result].description %></p>
      </li>
    <% } %>
  </ul>
<% } %>

<% include partials/foot %>

<script>
  function deleteRequest(id) {
    $.ajax({
      type: 'DELETE',
      url: `http://localhost:3000/jobsite/${id}`
    });
    location.reload();
  }
</script> 