<% include ./partials/head %>

<div class="container">
  <h1><%= jobsite.name %></h1>
  <ul class="collection">
    <% for (var i in reportArray) { %>
      <li class="collection-item">
        <a href="/report/<%= reportArray[i]._id %>">
          <%= crewArray[reportArray[i].crew].name %> - <%= reportArray[i].date %>
        </a>
      </li>
    <% } %> 
  </ul>
</div>

<% include ./partials/foot %>