<% var title = 'Login' %>
<% include partials/head %>

<div class="container">
  <h1>Login</h1>
  <div class="row">
    <form method="post" action="/login">
      <div class="input-field col s12">
        <input id="email" type="email" name="email" class="validate" />
        <label for="email">Email</label>
        <span class="helper-text" data-error="wrong" data-success="right">Validate</span>
      </div>
      <div class="input-field col s12">
        <input id="password" type="password" class="validate" name="password" />
        <label for="password">Password</label>
      </div>
      <div class="input-field col s12">
        <label for="remember">
          <input id="remember" type="checkbox" name="remember" checked="checked"/>
          <span>Remember Me</span>
        </label>
      </div>
      <button class="btn waves-effect waves-light right" type="submit" name="action">Submit
        <i class="material-icons right">send</i>
      </button>
    </form>
  </div>
  

  <p>Don't have an account? <a href="/signup">Signup Now</a></p>
  <p>Forgot your password? <a href="/forgot">Reset Password</a></p>

</div>

<% include partials/foot %>