<% var title = 'Authentication Example' %>
<% include partials/head %>

<div class="container">
  <h1>Login</h1>
  <form method="post" action="/login">
    <p>
      <label>Email:</label>
      <input type="email" name="email">
    </p>
    <div class="input-field col s12">
      <input id="password" type="password" class="validate" name="password">
      <label for="password">Password</label>
    </div>
    <p>
      <input type="submit" value="Login">
    </p>
  </form>

  <span>Don't have an account? </span><a href="/signup">Signup Now</a>

</div>

<% include partials/foot %>